<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" name="tartan_pcl_man" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="passthroughY" args="load pcl/PassThrough tartan_pcl_man" output="screen">
    <remap from="~input" to="/statOutliers/inliers" />
    <rosparam>
      filter_field_name: y
      filter_limit_min: -1000.0
      filter_limit_max: 0.1
      filter_limit_negative: False
      output_frame: /camera_tof
    </rosparam>
   </node>
  <node pkg="nodelet" type="nodelet" name="passthroughZ" args="load pcl/PassThrough tartan_pcl_man" output="screen">
    <remap from="~input" to="/sick_3vistort_driver/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: -100.0
      filter_limit_max: 100.0
      filter_limit_negative: False
      output_frame: /camera_tof
    </rosparam>
   </node>
  <node pkg="nodelet" type="nodelet" name="statOutliers" args="load pcl/StatisticalOutlierRemoval tartan_pcl_man" output="screen">
    <remap from="~input" to="/sick_3vistort_driver/points" />
    <remap from="~output" to="/statOutliers/inliers" />
    <rosparam>
        mean_k: 10
        stddev: 1.5
    </rosparam>
   </node>
</launch>
