<?xml version="1.0"?>
<launch>
  <node pkg="nodelet" type="nodelet" name="tartan_pcl_man" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="passthroughY" args="load pcl/PassThrough tartan_pcl_man" output="screen">
    <remap from="~input" to="/statOutliers/inliers" />
    <rosparam>
      filter_field_name: y
      filter_limit_min: -1000.0
      filter_limit_max: 0.1
      filter_limit_negative: False
      output_frame: camera_tof
    </rosparam>
   </node>
  <!--<node pkg="nodelet" type="nodelet" name="passthroughZ" args="load pcl/PassThrough tartan_pcl_man" output="screen">
    <remap from="~input" to="/sick_3vistort_driver/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: -100.0
      filter_limit_max: 100.0
      filter_limit_negative: False
      output_frame: camera_tof
    </rosparam>
   </node>-->
  <node pkg="nodelet" type="nodelet" name="statOutliers" args="load pcl/StatisticalOutlierRemoval tartan_pcl_man" output="screen">
    <remap from="~input" to="/sick_3vistort_driver/points" />
    <remap from="~output" to="/statOutliers/inliers" />
    <rosparam>
        mean_k: 15
        stddev: 0.9
    </rosparam>
   </node>


   <!-- push pointcloud_to_laserscan nodelet into sensor's nodelet manager-->
   <node pkg="nodelet" type="nodelet" name="pointcloud_to_laserscan" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet tartan_pcl_man">

        <remap from="cloud_in" to="/passthroughY/output"/>
        <remap from="scan" to="/sick/scan"/>
        <rosparam>
            target_frame: base_link # Leave disabled to output scan in pointcloud frame
            transform_tolerance: 0.02
            min_height: -1.0
            max_height: 3.0

            angle_min: -1.5708 # -M_PI/2
            angle_max: 1.5708 # M_PI/2
            angle_increment: 0.0087 # M_PI/360.0  0.5 deg
            scan_time: 0.3333
            range_min: 0.1
            range_max: 10.0
            use_inf: true
            inf_epsilon: 1.0

            # Concurrency level, affects number of pointclouds queued for processing, thread number governed by nodelet manager
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 1
        </rosparam>

    </node>

</launch>
